

body {
  font-family: Arial, sans-serif;
  background-color: black; 
  color: white; 
  line-height: 1,5;
  text-align: center;
}


header {
  background-color: darkslategray;
  padding: 15px 0;
}

header h1 {
  color: white;
  font-size: 2em;
}


section {
  padding: 30px 20px;
}

#presentation h2 {
  text-decoration: underline;
}

#presentation p {
  padding-left: 23%;
  padding-right: 15%;
}

h2 {
  color: lightseagreen;
  font-size: 1.8em;
  margin-bottom: 10px;
}

h3 {
  padding-left: 25%;
  text-align:left;
  color:darkolivegreen;
  font-size: 1.3em;
  margin-bottom: 6px;
}
li h3 a{
  color:darkolivegreen;
  text-decoration: underline;
}
li h3 a:hover{
  color:blue;
}

p {
  color: white;
  font-size: 1.2em;
}

ul {
  list-style-type: none;
}

ul li p {
  font-size: 1.1em;
  margin: 10px 0;
  padding-left: 30%;
  text-align:left;
}

a {
  color: red;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:visited {
  color:blueviolet;
}
header h1 a:visited{
  color:white;
}

footer {
  background-color: darkslategray;
  padding: 10px 0;
  text-align: right;
  padding-right: 1%;
}

footer a{
  font-weight: bold;
}

footer p {
  color: white;
  font-size: 1em;
  
}
